p {
  margin: 0;
  padding: 0;
}
.radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;

  left: -5px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;

  margin: 0;
  position: relative;
  visibility: hidden;
}

.radio-label {
  display: flex;
  color: #efede8;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin-right: 5px;
  align-items: center;

  margin-bottom: 8px;
}
.radio-input:checked + span {
  border: 2px solid #ef8964;
}
.radio-input:checked + span:after {
  opacity: 1;
}
.custom-radio::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #ef8964;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}
.custom-radio {
  left: -4px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #9a9a9a;
  border-radius: 50%;
  display: flex;
  position: relative;
}
.radio-input:checked + span:after {
  opacity: 1;
}

.content-radio {
  border: #ef8964;
  max-width: 380px;
}

.content-blood {
  display: flex;
  max-width: 220px;
  text-align: start;
  align-self: center;
}

.content-gender {
  display: flex;
}
.content-blood-gender {
  display: flex;
  margin-bottom: 32px;
  gap: 20px;
  max-width: 335px;
  padding: 0;
  text-align: start;
}

.radio-text {
  display: flex;
  padding-left: 2px;
  margin: 0;
  color: rgba(239, 237, 232, 1);
  max-width: 305px;
  align-items: center;
}

.text-blood {
  color: #efede880;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 4px;
  text-align: start;
  margin-top: 20px;
}
.lifestyle-btn {
  max-width: 340px;
  text-align: start;
}

.submit-btn {
  display: flex;

  align-items: center;
  margin-top: 40px;
  width: 115px;
  height: 42px;
  justify-content: center;
  background-color: #e6533c;
  border-radius: 12px;
  color: #efede8;
  border-width: 0;
}
/* ---------formik ---------*/

.login-email {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.login-email-input {
  width: 315px;
  padding-left: 14px;
  font-size: 14px;
  height: 46px;
}
.heigh-weight {
  display: flex;
  gap: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}
.wh-input {
  width: 140px;
  padding-left: 14px;
  font-size: 14px;
  height: 46px;
}
.calendar {
  color: #000;
  font-size: 12px;
  padding-bottom: 4px;
}

.text-info {
  padding-bottom: 4px;
  text-align: start;
  color: #efede880;
}
.error-mess {
  font-size: 10px;
  color: #e6533c;
}

.contant-useForm {
  margin-top: 18px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .login-email-input {
    width: 341px;
    height: 52px;
  }
  .login-email {
    flex-direction: row;
  }
  .tablet-input {
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
  .wh-input {
    width: 163px;
    height: 52px;
  }
  .content-blood-gender {
    gap: 32px;
  }
  .lifestyle-btn {
    max-width: 500px;
    text-align: start;
  }
  .radio-text {
    display: flex;
    padding-left: 2px;
    margin: 0;
    justify-content: end;
    max-width: 500px;
    align-items: center;
  }
}
