@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  --color-back-one: #040404;
  --color-back-two: #303030;
  --color-main-one: #e6533c;
  --color-main-two: #ef8964;
  --color-main-three: #efa082;
  --color-text: #efede8;
  --color-approved-one: #3cbf61;
  --color-approved-two: #419b09;
  --color-wrong-one: #d80027;
  --color-wrong-one: #e9101d;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #000;
  /* background-image: url('./assets/background.png'); */
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111111;
  width: 100%;
  height: 100vh;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
